<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/resources/styles.css}">
  <title>All Users</title>
</head>
<body>
<div class="center">
  <h2>Users</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Email</th>
      <th>Password</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="usr : ${all}">
      <tr>
        <td th:text="${usr.firstName}">Name</td>
        <td th:text="${usr.lastName}">Surname</td>
        <td th:text="${usr.email}">Email</td>
        <td th:text="${usr.password}">Password</td>
        <td class="tg-action">
          <div>
            <a class="link-button" th:href="@{/updateInfo(userID=${usr.id})}">Update</a>
          </div>
          <div>
            <a class="link-button" th:href="@{/deleteUser(userID=${usr.id})}">Delete</a>
          </div>
        </td>
      </tr>
    </th:block>
    </tbody>
  </table>
</div>
<input type="button" value="Add User"
       onclick="window.location.href = 'addNewUser'"/>
</body>
</html>