
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h2> Employee Info</h2>
<form th:action="@{/saveUser}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}"/>
    Name <input type="text" th:field="*{firstName}"/>
    <br>
    Lastname <input type="text" th:field="*{lastName}"/>
    <br>
    Age <input type="text" th:field="*{age}"/>
    <br>
    Email <input type="text" th:field="*{email}"/>
    <br>
    Password <input type="password" th:field="*{password}"/>
    <br>
    <input type="submit" value="OK"/>
</form>
</body>
</html>
